// Display
$display-list: hidden, block, inline-block, inline, flex, inline-flex;
@each $val in $display-list {
  .#{$val} {
    display: $val;
  }
}

// Width
.w {
  &-full {
    width: 100%;
  }
  &-auto {
    width: auto;
  }
}

// Height
.h {
  &-full {
    height: 100%;
  }
  &-auto {
    height: auto;
  }
}

// Font Weight
.font-bold {
  font-weight: 700;
}

//Line Height
.leading {
  &-none {
    line-height: 1;
  }
  &-tight {
    line-height: 1.5;
  }
  &-snug {
    line-height: 1.375;
  }
  &-normal {
    line-height: 1.5;
  }
  &-relaxed {
    line-height: 1.625;
  }
  &-loose {
    line-height: 2;
  }
}

// Cursor
$cursor-list: auto, pointer;
@each $val in $cursor-list {
  .cursor-#{$val} {
    cursor: $val;
  }
}

// Outline
.outline-none {
  outline: 0;
}

// Whitespace
$whitespace-list: normal, no-wrap, pre, pre-line, pre-wrap;
@each $val in $whitespace-list {
  .whitespace-#{$val} {
    white-space: $val;
  }
}

// Overflow
$overflow-value: auto, visible, hidden;
@each $val in $overflow-value {
  .overflow-#{$val} {
    overflow: $val;
  }
  .overflow-x-#{$val} {
    overflow-x: $val;
  }
  .overflow-y-#{$val} {
    overflow-y: $val;
  }
}

// Flex Direction
$direction-list: row, column;
@each $val in $direction-list {
  flex-direction: $val;
}

// Align Items
.items {
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

// Justify Content
.justify {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}

// Flex
.flex {
  &-1 {
    flex: 1 1 0%;
  }

  &-none {
    flex: none;
  }
}

// Flex Shrink
.flex-shrink-0 {
  flex-shrink: 0;
}

// Text Align
.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

// Margin and Padding
$directions: top t, right r, bottom b, left l;
$prop-names: margin m, padding p;
@for $level from 1 through 4 {
  @each $long-prop, $short-prop in $prop-names {
    @each $long, $short in $directions {
      .#{$short-prop}#{$short}-#{$level} {
        #{$long-prop}-#{$long}: 0.25rem * $level;
      }
    }
    .#{$short-prop}x-#{$level} {
      #{$long-prop}-left: 0.25rem * $level;
      #{$long-prop}-right: 0.25rem * $level;
    }
    .#{$short-prop}y-#{$level} {
      #{$long-prop}-top: 0.25rem * $level;
      #{$long-prop}-bottom: 0.25rem * $level;
    }

    .#{$short-prop}-#{$level} {
      #{$long-prop}: 0.25rem * $level;
    }
  }
}

.sprite-icon {
  width: 1em;
  font-style: normal;
}

.smooth-scroll {
  -webkit-overflow-scrolling: touch;
}
